.card {
	display: grid;
	flex-basis: 30%;
	grid-template-rows: 160px 1fr;
	gap: 10px;
	transition: 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.card:hover {
	transform: translateY(-0.2em);
}

.text-section {
	border-radius: 4px;
	background-color: var(--pure-white);
	box-shadow: var(--shadow-elevation-low);
	padding: 1rem 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-section h3 {
	margin: 0;
	margin-bottom: 0.5rem;
	position: relative;
	width: 100%;
}

.info-icon {
	position: absolute;
	right: 0;
	top: 0;
}

.img-section {
	overflow: hidden;
	border-radius: 4px;
	cursor: pointer;
	object-fit: cover;
}

.img-section img {
	width: 100%;
	max-width: 100%;
}

.pill-section {
	display: flex;
	flex-wrap: wrap;
	font-size: 0.75rem;
	gap: 3px;
}

.pill-section div {
	background-color: var(--accent-02);
	color: var(--black);
	padding: 3px 5px;
	border-radius: 4px;
}

.pill-section div:nth-child(2n) {
	background-color: var(--primary-02);
}

.pill-section div:nth-child(3n) {
	background-color: var(--tertiary-02);
}

.buttons-section {
	display: flex;
	border-top: 2px dotted var(--accent);
	gap: 10px;
	padding-top: 10px;
	margin-top: 10px;
}
