form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}
fieldset {
	border: none;
	width: 100%;
}

fieldset:invalid ~ fieldset {
	opacity: 0.35;
}

form:invalid button {
	opacity: 0.35;
}

input,
textarea {
	display: block;
	padding: 0.5rem 0.2rem;
	border-radius: 4px;
	margin: 0.2rem 0;
	min-width: 100%;
	border: var(--secondary) 1px solid;
	background-color: var(--pure-white);
	color: var(--accent);
}

label {
	cursor: pointer;
	font-weight: 800;
	font-size: 1.1rem;
	display: block;
}

textarea {
	height: 10vh;
	font-family: inherit;
}

:is(input, textarea):not(:focus):not(:placeholder-shown):invalid {
	outline: var(--maroon) 1px solid;
}

:is(input, textarea):focus {
	outline: var(--secondary) 2px solid;
	background-color: var(--pure-white);
	color: var(--faded);
	box-shadow: var(--shadow-elevation-low);
}

.error-message {
	display: none;
}

input:not(:focus):not(:placeholder-shown):invalid ~ .error-message {
	display: block;
	margin-block: 0.5rem 0.2rem;
	background-color: var(--maroon);
	color: var(--pure-white);
	border-radius: 4px;
	text-align: center;
}

/* @media screen and (max-width: 1023px) {
	input,
	textarea {
		width: 50vw;
	}
} */
