---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav";
import AboutSection from "../components/About.astro";
import {
	About,
	Projects,
	Welcome,
	Toolkit,
	Contact
} from "../components/Header/Components";
import tools from "../data/tools";
import "../styles/index.css";
---

<Layout title="Aline's Portfolio">
	<Nav client:idle />
	<main data-aos="fade-up" data-aos-duration="1000">
		<Welcome />
		<About />
		<AboutSection />
		<Toolkit />
		<article
			class="headline"
			data-aos="fade-right"
			data-aos-delay="50"
			data-aos-easing="ease-in-out"
		>
			<section class="tech-grid">
				{
					tools.map((tool) => (
						<article>
							<img src={tool.src} />
							<abbr title={tool.abbr}>{tool.text}</abbr>
						</article>
					))
				}
			</section>
		</article>
		<Projects />
		<Card />
		<Contact />
	</main>
</Layout>
