---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Nav from "../components/Nav";
import sanitizeHtml from "sanitize-html";
import { About, Projects, Welcome } from "../components/Header/Components";
import data from "../data/aboutme";
const { description, funfacts } = data;
const sanitizedDesc = sanitizeHtml(description);
console.log(sanitizedDesc);
---

<Layout title="Aline's Portfolio">
	<Nav client:idle />
	<main>
		<Welcome />
		<About />
		<section class="about-grid">
			<p class="headline span2" set:html={sanitizedDesc} />
			<img src="./profile.png" alt="Aline Emily" />
			{funfacts.map((fact) => <article class="headline">{fact}</article>)}
		</section>
		<Projects />
		<!-- <ul role="list" class="link-card-grid">
			<Card
				href="https://astro.build/chat/"
				title="Community"
				body="Come say hi to our amazing Discord community. ❤️"
			/>
		</ul> -->
		Also this portfolio, built with Astro and JSX!
	</main>
</Layout>

<style>
	main {
		grid-area: content;
		padding: 1.5rem;
	}

	@media screen and (max-width: 400px) {
		main {
			grid-area: content;
			padding: 1rem;
		}
	}

	.headline {
		line-height: 1.6;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		margin: 1rem auto;
		box-shadow: var(--shadow-elevation-low);
	}

	.headline strong {
		color: var(--accent);
	}

	.about-grid {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(22ch, 1fr));
		gap: 0 1rem;
		padding: 0;
	}

	.span2 {
		grid-column: span 2;
	}

	.about-grid img {
		max-width: 100%;
	}

	@media screen and (max-width: 1023px) {
		.about-grid {
			grid-template-columns: 1fr 1fr;
		}
		.about-grid img {
			order: 1;
			align-self: center;
			justify-self: center;
			max-width: 55%;
		}
	}

	@media screen and (max-width: 550px) {
		.about-grid img {
			max-width: 100%;
		}
	}

	@media screen and (max-width: 368px) {
		.about-grid {
			grid-template-columns: 1fr;
		}

		.span2 {
			grid-column: span 1;
		}
	}
</style>
