---
import Layout from "../layouts/Layout.astro";
import ProjectCards from "../components/ProjectCards.astro";
import Nav from "../components/Nav";
import AboutSection from "../components/About.astro";
import {
	About,
	Projects,
	Welcome,
	Toolkit,
	Contact
} from "../components/Header/Components";
import tools from "../data/tools";
import "../styles/index.css";
import ContactForm from "../components/ContactForm";
import SocialLinks from "../components/SocialLinks.astro";
---

<Layout title="Aline's Portfolio">
	<Nav client:idle />
	<main data-aos="fade-up" data-aos-duration="1000">
		<Welcome />
		<About />
		<AboutSection />
		<Toolkit />
		<article
			class="headline"
			data-aos="fade-right"
			data-aos-delay="50"
			data-aos-easing="ease-in-out"
		>
			<section class="tech-grid">
				{
					tools.map((tool) => (
						<article>
							<img src={tool.src} />
							<abbr title={tool.abbr}>{tool.text}</abbr>
						</article>
					))
				}
			</section>
		</article>
		<Projects />
		<ProjectCards />
		<Contact />
		<section class="contact-grid">
			<div class="headline">
				<h3>Drop me a line!</h3>
				<br />
				<p>
					If you wish to talk to me about any opportunities or projects, feel
					free to reach out to me via the <strong>contact form</strong>, or
					through the following social media.
				</p>
				<p>Thank you!</p>
				<hr />
				<SocialLinks />
			</div>
			<ContactForm client:visible />
		</section>
	</main>
</Layout>
