---
import sanitizeHtml from "sanitize-html";
import data from "../data/aboutme";
import SocialLinks from "./SocialLinks.astro";
let { description, funfacts } = data;
const sanitizedDesc = sanitizeHtml(description);
---

<section class="about-grid">
	<img src="./profile.png" alt="Aline Emily" />
	<article class="headline main-info">
		<p set:html={sanitizedDesc} />
		<hr />
		<strong>Find me at...</strong>
		<SocialLinks />
	</article>
	{
		funfacts.map((fact, index) => (
			<article class="headline funfacts">
				<p>{fact}</p>
			</article>
		))
	}
</section>
