---
import sanitizeHtml from "sanitize-html";
import data from "../data/aboutme";
import SocialLinks from "./SocialLinks.astro";
let { description, funfacts } = data;
const sanitizedDesc = sanitizeHtml(description);
---

<section class="about-grid">
	<img
		src="./profile.png"
		alt="Aline Emily"
		data-aos="fade-right"
		data-aos-delay="200"
	/>
	<article class="headline main-info" data-aos="fade-left" data-aos-delay="400">
		<p set:html={sanitizedDesc} />
		<hr />
		<strong>Find me at...</strong>
		<SocialLinks />
	</article>
	{
		funfacts.map((fact, index) => (
			<article
				class="headline funfacts"
				data-aos={`fade-${index === 1 ? "down" : "up"}`}
			>
				<p>{fact}</p>
			</article>
		))
	}
</section>
