---
import projects from "../data/projects";
import Card from "./Card";
---

<section class="projects-grid">
	{projects.map((item) => <Card {...item} key={item.id} client:visible />)}
</section>

<style>
	.projects-grid {
		display: flex;
		justify-content: space-evenly;
		gap: 25px;
		flex-wrap: wrap;
		margin-inline: auto;
	}
</style>
