---
export interface Props {
	title: string;
}
import "@fontsource/fraunces";
import "@fontsource/rubik";
import "@fontsource/rubik/800.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width" />
		<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta charset="UTF-8" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<script src="https://unpkg.com/aos@next/dist/aos.js" is:inline></script>
		<script>
			AOS.init();
		</script>
		<slot />
	</body>
</html>

<style is:global>
	:root {
		/*catpuccin*/
		--pure-white: rgb(250, 250, 250);
		--white: rgb(239, 242, 247);
		--white-alpha: rgba(239, 242, 247, 0.4);
		--white-darker: #dce0e8;
		--black: #1e1e2e;
		--black-02: #181825;
		--faded: #4b5184;
		--maroon: hsla(355, 76%, 59%); /*link*/
		--maroon-darken: hsla(355, 76%, 49%); /*link*/
		--primary: hsla(316, 74%, 69%, 1);
		--primary-02: hsla(316, 74%, 69%, 0.5);
		--secondary: hsla(266, 85%, 58%, 1);
		--secondary-02: hsla(266, 85%, 58%, 0.5);
		--tertiary: hsla(189, 70%, 42%, 1);
		--tertiary-02: hsla(189, 70%, 42%, 0.5);
		--accent: hsla(230, 97%, 72%, 1);
		--accent-02: hsla(230, 97%, 72%, 0.5);

		/*shadow josh*/
		--shadow-color: 0deg 0% 73%;
		--shadow-elevation-low: 0.5px 0.9px 1.2px hsl(var(--shadow-color) / 0.18),
			0.7px 1.3px 1.7px -1.2px hsl(var(--shadow-color) / 0.19),
			1.4px 2.7px 3.5px -2.4px hsl(var(--shadow-color) / 0.19);

		--sans: "Rubik", "Helvetica", "Arial", sans-serif;
		--serif: "Fraunces", "Times New Roman", "Georgia", serif;
	}

	* {
		box-sizing: border-box;
	}

	html {
		font: 400 16px/1.4 "Rubik", "Helvetica", "Arial", sans-serif;
		color: var(--black);
		scroll-behavior: smooth;

		background-image: image("./bg.png", var(--white));
		background-image: url("./bg.png");
		background-attachment: scroll;
		background-position: 0;
		background-repeat: repeat-y;
		background-size: 70vh;
		background-color: var(--white);
	}

	::selection {
		background-color: var(--secondary-02);
		color: var(--pure-white);
	}

	body {
		background-image: linear-gradient(to left, var(--white), var(--white-alpha));
		background-size: 100vh;
		background-attachment: fixed;
		margin: 0;
		display: grid;
		grid-template:
			100px 1fr 70px / minmax(0px, 1fr) minmax(auto, 70ch)
			minmax(0px, 1fr);
		grid-template-areas:
			"nav nav nav"
			". content ."
			"footer footer footer";
	}

	@media screen and (min-width: 1024px) {
		body {
			grid-template-columns:
				minmax(0px, 1fr) minmax(auto, 10ch) minmax(auto, 70ch) minmax(auto, 10ch)
				minmax(0px, 1fr);
			grid-template-areas:
				"nav nav nav nav nav"
				". content content content ."
				"footer footer footer footer footer";
		}
	}

	strong {
		font-weight: 800;
	}

	hr {
		border: none;
		border-bottom: 2px dotted var(--accent);
	}

	nav button {
		background-color: var(--pure-white);
		padding: 4px;
		border: 2px solid transparent;
	}

	button,
	.about-grid a,
	.contact-grid a,
	.card a {
		background-color: var(--accent);
		box-shadow: var(--shadow-elevation-low);
		color: var(--white);
		border: none;
		border-radius: 4px;
		padding: 4px 8px;
		transition: 200ms ease;
		cursor: pointer;
		font: 0.85rem var(--sans);
	}

	@media (hover: hover) and (pointer: fine) {
		button:hover,
		.about-grid a:hover,
		.card a:hover,
		.contact-grid a:hover {
			background-color: var(--tertiary);
			transform: translateY(-2px);
		}

		.about-grid a:hover,
		.card a:hover,
		.contact-grid a:hover {
			color: var(--pure-white);
		}

		nav button:hover {
			border: 2px solid var(--secondary);
			background-color: var(--white-alpha);
		}
	}

	.text-gradient {
		background-image: linear-gradient(to right, var(--primary), var(--tertiary));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
</style>
